html, body {
    color: rgb(35, 32, 115);
}

#tableHeader{
    background-color: lightblue;
    color: darkblue;
}
#bookTable{
    background-color:aliceblue;
    color:darkslateblue;
}
/*#tableHeader{
    background-color:darkslateblue;
    color: white;
}*/
.heading{
    font-family: sans-serif;
    font-weight: bold;
}
.citation{
    font-family: cursive;
    font-size: 8px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
#theader {
	cursor: pointer;
}
.down{
    transform: rotate(45deg);
  /*-webkit-transform: rotate(45deg);*/
}
