<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="css/page.css"/>
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Oconee County Fire Rescue</title>
</head>
<body>
    <div class="container">

      <header class="row">
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <a target="_blank" href="img/fire-truck.png">
                  <img src="img/fire-truck.png" title="https://www.google.com" height="90px" />
              </a>
          </div>
          <h1>Oconee County Fire Rescue</h1>
      </header>

        <nav class="row navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="members.html">Add, Edit and View Members</a></li>
                    <li><a href="deleteMembers.html">Delete Members</a></li>
                    <li><a href="stationlist.html">View Members by Station</a></li>
                    <li><a href="currentcerts.html">View Current Certificates by Member</a></li>
                    <li><a href="allcertificates.html">Add, Edit and View Certificates</a></li>
                    <li><a href="expiredcerts.html">View Expired Certificates by Member</a></li>
                    <li><a href="certificate_list.html">View All Certificates</a></li>
                    <li><a href="deleteCertificates.html">Delete Certificates</a></li>
                    <li><a href="assigncertificate.html">Assign Certificates</a></li>
                </ul>
            </div>
        </nav>
        <div class="mainContent">
        <main class="row">
            <h3 class="heading">Certificate List</h3>
            <div id="certificateList">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <form method="post" @submit.prevent="handleSubmit">
                   <div class="form-group row">
                    <label for="certAgency">Certificate Agency</label>
                    <input type="text" class="form-control" id="certAgency" placeholder="Enter the certificate agency" v-model="recordCert.certAgency">
                  </div>
                   <div class="form-group row">
                    <label for="certName">Certificate Name</label>
                    <input type="text" class="form-control" id="certName" placeholder="Enter certificate name" v-model="recordCert.certName">
                  </div>
                   <div class="form-group row">
                    <label for="expirationYears">Expiry years</label>
                    <input type="number" class="form-control" id="expirationYears" placeholder="Enter number of years it expires" v-model="recordCert.expirationYears">
                    </div>
                    <div class="form-group row">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
               <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                        <th scope="col">Certificate Agency</th>
                        <th scope="col">Name</th>
                        <th scope="col">Expiry</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr v-for="c in certificates" @click="handleRowClick(c)">
                        <td>{{ c.certAgency }}</td>
                        <td>{{ c.certName }}</td>
                        <td>{{ c.expirationYears }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div id="certificateApp">
            <form method="post" @submit.prevent="handleSubmit">
                <div class="form-group row">
                 <label for="certAgency">Certificate Agency</label>
                 <input type="text" class="form-control" id="certAgency" placeholder="Enter the certificate agency" v-model="certificate.certAgency">
               </div>
                <div class="form-group row">
                 <label for="certName">Certificate Name</label>
                 <input type="text" class="form-control" id="certName" placeholder="Enter certificate name" v-model="certificate.certName">
               </div>
                <div class="form-group row">
                 <label for="expirationYears">Expiry years</label>
                 <input type="number" class="form-control" id="expirationYears" placeholder="Enter number of years it expires" v-model="certificate.expirationYears">
                 </div>
                 <div class="form-group row">
                   <button type="submit" class="btn btn-primary">Update</button>
                 </div>
             </form>
        </div>
            </main>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/certificateExtract.js"></script>
    <script src="js/certificateApp.js"></script>
</body>
</html>
