<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="css/page.css" />
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>OCFR Project</title>
</head>
<body>
    <div class="container">

        <header class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <a target="_blank" href="img/girl.png">
                    <img src="img/girl.png" title="https://www.google.com" height="90px" />
                </a>
            </div>
        </header>

        <nav class="row navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="members.html">Members</a></li>
                    <li><a href="stationlist.html">Stations</a></li>
                    <li><a href="allcertificates.html">All Certificates</a></li>
                    <li><a href="expiredcerts.html">Exp Certificates</a></li>
                    <li><a href="currentcerts.html">Cur Certificates</a></li>
                    <li><a href="certificate_list.html">Certificates List</a></li>
                    <li><a href="deleteMembers.html">Delete Members</a></li>
                    <li><a href="deleteCertificates.html">Delete Certificates</a></li>
                    <li><a href="certissuance.html">Certificate Issuance</a></li>
                </ul>
            </div>
        </nav>
        <main class="row">
            <h3 class="heading">Certificate List</h3>
            <div id="mainContent" class="col-md">
            <div id="certList">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <form @submit.prevent="handleSubmit">
                   <div class="form-group">
                    <label for="issuanceid">Issuance ID</label>
                    <input type="text" class="form-control" id="issuanceid" placeholder="Enter issuanceid" v-model="recordcertissuance.issuanceid">
                  </div>
                   <div class="form-group">
                    <label for="issueStartDate">Issue Start Date</label>
                    <input type="text" class="form-control" id="issueStartDate" placeholder="Enter issueStartDate" v-model="recordcertissuance.issueStartDate">
                  </div>
                   <div class="form-group">
                    <label for="issueEndDate">Issue End Date</label>
                    <input type="text" class="form-control" id="issueEndDate" placeholder="Enter issueEndDate" v-model="recordcertissuance.issueEndDate">
                    </div>
                   <div class="form-group">
                    <label for="memberID">Member ID</label>
                    <input type="number" class="form-control" id="memberID" placeholder="Enter memberID" v-model="recordcertissuance.memberID">
                  </div>
                  <div class="form-group">
                   <label for="certID">Certificate ID</label>
                   <input type="number" class="form-control" id="certID" placeholder="Enter certID" v-model="recordcertissuance.certID">
                 </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <br>
            <br>
               <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">issuanceid</th>
                        <th scope="col">issueStartDate</th>
                        <th scope="col">issueEndDate</th>
                        <th scope="col">MemberID</th>
                        <th scope="col">CertID</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr v-for="c in certissuance" @click="handleRowClick(c)">
                        <td>{{ c.issuanceid }}</td>
                        <td>{{ c.issueStartDate }}</td>
                        <td>{{ c.issueEndDate }}</td>
                        <td>{{ c.memberID }}</td>
                        <td>{{ c.certID }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>


          <div id="certissuanceApp">
          <form  @submit.prevent="handleSubmit">
            <div class="row">
              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="triageissuanceid" placeholder="issuanceid" v-model="CertIssuance.issuanceid">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="triageissueStartDate" placeholder="issueStartDate" v-model="CertIssuance.issueStartDate">
              </div>
            </div>
            <div class="row">
            <div class="form-group col-md-2">
             <input type="text" class="form-control" id="triageissueEndDate" placeholder="issueEndDate" v-model="CertIssuance.issueEndDate">
             </div>
            <div class="form-group col-md-2">
             <input type="number" class="form-control" id="triagememberID" placeholder="memberID" v-model="CertIssuance.memberID">
           </div>
           <div class="form-group col-md-4">
             <input type="text" class="form-control" id="triagecertID" placeholder="certID" v-model="CertIssuance.certID">
           </div>


         </div>



          </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <!--<button @submit.prevent="delete" type="submit" class="btn btn-primary">Delete</button>-->
              </div>
            </div>

        </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/certissuanceExtract.js"></script>
    <script src="js/certissuanceApp.js"></script>
</body>
</html>
