<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="css/page.css"/>
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Adding javascript file for table sorting -->
    <script src="js/tablesort.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Oconee County Fire Rescue</title>
</head>
<body>
  <div class="container">
    <header class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <a target="_blank" href="img/fire-truck.png">
                <img src="img/fire-truck.png" title="https://www.google.com" height="90px" />
            </a>
        </div>
        <h1>Oconee County Fire Rescue</h1>
    </header>

        <nav class="row navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="members.html">Add, Edit and View Members</a></li>
                    <li><a href="deleteMembers.html">Delete Members</a></li>
                    <li><a href="stationlist.html">View Members by Station</a></li>
                    <li><a href="currentcerts.html">View Current Certificates by Member</a></li>
                    <li><a href="allcertificates.html">Add, Edit and View Certificates</a></li>
                    <li><a href="expiredcerts.html">View Expired Certificates by Member</a></li>
                    <li><a href="certificate_list.html">View All Certificates</a></li>
                    <li><a href="deleteCertificates.html">Delete Certificates</a></li>
                    <li><a href="assigncertificate.html">Assign Certificates</a></li>
                </ul>
            </div>
        </nav>
    <main class="row">

      <h1 class="heading">Certificates (Current)</h3>
      <div id="certificateList">
      <div class="filter">
        <select v-model="filter.certNum">
          <option value="">(all)</option>
          <option v-for="c in allCertificates">{{c.certName}}</option>
          <!-- <option>CPRy</option>
          <option>Firefighterx</option>
          <option>Firefighter y</option>
          <option>POST</option> -->
        </select>
      </div>
      <table class="table table-hover" >
      <thead>
        <tr> <!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_desc-->
          <th id="theader">First Name</th>
          <th id="theader">Last Name</th>
          <th id="theader">Certification Name</th>
          <th id="theader">Issue Start Date</th>
          <th id="theader">Issue End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="c in certificates" v-if="filter.certNum =='' || filter.certNum == c.certName">
          <td>{{ c.firstName }}</td>
          <td>{{ c.lastName }}</td>
          <td>{{ c.certName }}</td>
          <td>{{ c.issueStartDate }}</td>
          <td>{{ c.issueEndDate }}</td>
        </tr>
    </tbody>
    </table>
    </div>
  </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/currentCertMem.js"></script>

</div>

</body>
</html>
