<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="css/style.css" />
    <!--Compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Gail Johnston</title>
</head>
<body>
    <div class="container">

        <header class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <a target="_blank" href="img/girl.png">
                    <img src="img/girl.png" title="https://www.google.com" height="90px" />
                </a>
            </div>
        </header>

        <nav class="row navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">About Me</a></li>
                    <li><a href="table.html">Books</a></li>
                    <li><a href="certificates.html">Certificates</a></li>
                </ul>
            </div>
        </nav>
        <main class="row">
            <h3 class="heading">Profile</h3>
            <div id="randomPeopleApp">
            <div v-for="person in people" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a target="_blank" v-bind:href="person.picture.large">
                    <img v-bind:src="person.picture.large" title="https://randomuser.me" height="150px" /><br />
                </a>
                <cite class="citation">https://randomuser.me</cite>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <p v-for="person in people">
                    Name: {{person.name.first}}&nbsp;{{person.name.last}}  <br />
                    Country : {{person.nat}} <br/>
                    Birthdate : {{person.dob.date}} <br />
                    Age : {{person.dob.age}} <br />
                    Email address : <a href="mailto:gail.johnston93@example.com">{{person.email}}</a>
                </p>
            </div>
            <form v-on:submit="fetchPeople">
                <button type="submit" class="btn btn-primary">Refresh</button>
            </form>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/randomPeople.js"></script>
</body>
</html>
